.select {
  position: relative;
  width: 200px;
}

.select__selected-item {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  background-color: DodgerBlue;
}

.select__list-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select__item {
  position: relative;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select__item:hover{
  opacity: 0.8;
}

.select__item--selected:after {
  content: '+';
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 25px;
  color: rgb(64, 228, 42);
  font-weight: bold;
}
.select__item--disabled {
  background: #ddd;
  color: #aaa;
  cursor: no-drop;
}